/*General styling for the element*/
:root{
    --section-title-font-size-res:clamp(5dvw, 1rem, 10dvw);
    --input-placeholder-btn-li-font-size-res: clamp(2dvw, 1rem, 4dvw);
    --date-time-font-size-res:clamp(8dvw, 1.5rem, 15dvw);
    --p-font-size-res:clamp(3dvw, 1rem, 4dvw);
}
input, button{
    font-family: sans-serif;
    font-size: 1rem;
    color: #F8FAFC;
    background-color: transparent;
    border: 2px solid #0F172A;
    border-radius: 6px;
}
input::placeholder{
    font-size: 1rem;
    font-family: sans-serif;
    color: #F8FAFC;
}
.title{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}

/*Specific styling for the element*/
#weatherDisplay{
    background: url("../image/weather_app_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    width: auto;
}
#weatherForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#weatherForm label{
    color: #F8FAFC;
}
#weatherForm input{
    padding: 6px 5px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 6px;
}
#weatherForm button{
    padding: 3px 5px;
    color: #0F172A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    width: 100%;
}
#weatherDataOutput{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #0F172A;
    font-family: sans-serif;
    font-size: 1rem;
    row-gap: 20px;
    width: 100%;
}

/*To do list project*/
#todoList{
    background-image: url("../image/todolist_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    overflow: auto;
    overflow-x: hidden;
    width: auto;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #5f5f5e;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box;
    
}
::-webkit-scrollbar-thumb:hover{
    cursor: grab;
}
::-webkit-scrollbar-thumb:active{
    cursor: grabbing;
}
#todoListContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#todoList .title{
    color: #262525;
}
#daySelector{
    position: absolute;
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin-top: 45px;
    margin-left: 15px;
    gap: 0px;
    height: max-content;
}
#daySelectorList{
    position: relative;
    list-style: none;
}
#daySelectorList #monday-fake{
    display: list-item;
    color: #262525;
    border: 2px solid #2D5A27;
    font-weight: bold;
}
#daySelectorList .days{
    position: relative;
    display: none;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    color: #161717;
    padding: 5px 10px;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid  #A3A8A4;
    border-radius: 8px;
    border-collapse: collapse;
    cursor: pointer;
    min-width: 120px;
}
#daySelectorList .days.showList{
    position: relative;
    display: list-item;
    animation: smooth_slide_down 0.3s linear forwards;
}
#daySelectorList .days.selectedDay{
    color: #262525;
    border: 2px solid #2D5A27;
}
@keyframes smooth_slide_down{
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: none;
        opacity: 1;
    }
}
#dayselectorDropper{
    height: max-content;
    text-align: center;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 28px;
    transform: rotate(180deg);
    color: #262525;
    transition: 0.4s ease-in-out;
    margin-left: 10px;
    margin-bottom: 10px;
}
#dayselectorDropper.spin{
    transform: rotate(0deg);
}
#eachday-list{
    margin-top: 50px;
}
#daylist{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
#taskInput-container{
    position: relative;
    display: flex;
    justify-content: baseline;
    gap: 5px;

    input{
        padding: 2px 3px;
        font-family: sans-serif;
        color: #161717;
        font-size: 1rem;
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.2);

        &::placeholder{
            color: rgba(0, 0, 0, 0.4);
        }
    };
    button{
        padding: 2px 3px;
        font-family: sans-serif;
        color: #161717;
        font-size: 1rem;
        cursor: pointer;
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.2);

        &:active{
            color: rgba(22, 23, 23, 0.5);
        }
    }
}
#eachday-list{
    position: relative;
    display: flex;
    margin-top: 10px;
}
#eachday-list .day-list{
    color: black;

    ul{
        list-style: none;
    }
}
.tasks{
    font-family: sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #0F172A;
    border-radius: 8px;
    padding: 3px 4px;
    min-width: 250px;
}
.delete-btn{
    font-family: sans-serif;
    font-size: 1rem;
    background-color: #FF3E3E;
    border: none;
    cursor: pointer;
    padding: 3px 4px;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);

    &:active{
        background-color: rgba(255, 62, 62, 0.9);
    }
}
@media (hover: hover){
        .delete-btn:hover{
            background-color: rgba(255, 62, 62, 0.8);
        }
    }

/*Digital Clock project*/
#digitalClock{
    background-image: url("../image/digital_clock_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    width: auto;
}
#digitalClockContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#digitalClockContainer .title{
    color: #3D2B1F;
}
#dateDisplay{
    margin-top: 3rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}
#clockDisplay{
    margin-top: 2rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}

/* Digital timer project */

#timer{
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.5)),url("../image/timer_background_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    width: auto;
}
#timerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#timerContainer .title{
    color: #00F2FF;
}
#timerDisplayer{
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
}
#btnContainer{
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
#btnContainer .btn{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 2px solid #00F2FF;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
}
#startBtn{
    background-color: #28A745;
}
#resetBtn{
    background-color: #6C757D;
}
#stopBtn{
    background-color: #FF3E3E;
}
@media(hover:hover){
    #startBtn:hover{
        background-color: rgba(40, 167, 69, 0.8);
    }
    #resetBtn:hover{
        background-color: rgba(108, 117, 125, 0.8);
    }
    #stopBtn:hover{
        background-color: rgba(255, 62, 62, 0.8);
    }
}
#startBtn:active{
    background-color: rgba(40, 167, 69, 0.6);
}
#resetBtn:active{
    background-color: rgba(108, 117, 125, 0.6);
}
#stopBtn:active{
    background-color: rgba(255, 62, 62, 0.6);
}


/* Unit converter project*/

#unitConverter{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../image/unitConverter_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    width: auto;
}
#UnitConverterContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#UnitConverterContainer .title{
    color: #FFF;
}
#coverterContainer{
    position: relative;
    margin-top: 30px;
}
#choicesContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#unitContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 10px;
    max-height: 100px;
}
#unitContainer p{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
}
#unitContainer ul{
    position: relative;
    list-style: none;
}
#unitContainer li{
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 2px 4px;
    backdrop-filter: blur(2px);
    border: 2px solid #00F2FF;
    border-radius: 8px;
    border-collapse: collapse;
    cursor: pointer;
}
#speed-opt, #weight-opt{
    display: none;
    max-height: 0;      
    overflow: hidden;
}
#speed-opt.showList, #weight-opt.showList{
    display: list-item;
    animation: smooth_slide_down 0.3s linear forwards;
}
@keyframes smooth_slide_down{
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 100px;
        opacity: 1;
    }
}
#unitContainer #listVisibility{
    height: max-content;
    text-align: top;
    border: none;
    position: relative;
    cursor: pointer;
    transform: rotate(180deg);
    font-size: 24px;
    margin-bottom: 5px;
    transition: 0.4s ease-in-out;
}
#unitContainer #listVisibility.spin{
    transform: rotate(0deg);
}
#converting{
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#converting li{
    min-width: 100px;
}
#converting p{
    padding-top: 28px;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;

}

#weightUnit.visable, #speedUnit.visable{
    display: flex;
}
#temperatureUnit{
    display: flex;
}
#weightUnit{
    display: none;
}
#speedUnit{
    display: none;
}
#temperatureUnit.invisible{
    display: none;
}
#weightUnit.visible, #speedUnit.visible{
    display: flex;
}
#weightUnit ul, #temperatureUnit ul, #speedUnit ul{
    list-style: none;
    padding: 5px 20px;
}
#weightUnit li, #temperatureUnit li, #speedUnit li{
    cursor: pointer;
    border: 1.5px solid #00F2FF;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    padding: 2px 4px;
    margin-bottom: 3px;
}


#inputAndResult{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    text-align: start;

}
#inputAndResult form{
    position: relative;
    display: flex;
    gap: 10px;
}
#inputAndResult #unitInput{
    position: relative;
    font-size: 1rem;
    font-family: sans-serif;
    text-align: start; 
    outline: none;
    padding: 1px 2px;
    border: 1px solid #00F2FF;
}
#inputAndResult #submitConvertionForm{
    position: relative;
    border: none;
    color: #00F2FF;
    background-color: #585555;
    max-width: fit-content;
    padding: 5px 6px;
    cursor: pointer;
}
#inputAndResult #convertionResult{
    position: relative;
    margin: 15px 0;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: bold;
}

/*Calculator project*/
#calculator{
    background-color: rgb(93, 92, 92);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    width: auto;
}
#calculator .title{
    color: #FFF;

}
#calculatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#btnContainer-cal{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 20px;
    gap: 10px;
}
.cal-btn{
    width: 60px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    text-align: center;
    color: rgb(255, 255, 255);

}
#calculatorInput{
    text-align: right;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(191, 188, 188) ;
    font-size: 1.3rem;
    font-family:sans-serif;
    margin-top: 5px;
    height: 50px;
}
.number{
    background-color: rgb(59, 57, 56);
}
.number:active{
    background-color: rgb(45, 44, 43);
}
.sign{
    background-color: rgb(50, 49, 48);
}
.sign:active{
    background-color: rgb(68, 66, 65);
}
.specialSign{
    background-color: rgb(50, 49, 48);
}
.specialSign:active{
    background-color: rgb(68, 66, 65);
}
#equalSign{
    background-color: rgb(76, 194, 255);
}
#equalSign:active{
    background-color: rgb(0, 153, 230);
}
@media (hover: hover){
    .number:hover{
        background-color: rgb(68, 66, 65);
    }
    .sign:hover{
        background-color: rgb(45, 44, 43);
    }
    .specialSign:hover{
        background-color: rgb(45, 44, 43);
    }
    #equalSign:hover{
        background-color: rgb(102, 204, 255);
    }
}

/*password generator*/

#randomPasswordGenerator{
    background-image: radial-gradient(rgb(0,0,0,0.4)),url("../image/password_gen_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    width: auto;
}
#randomPasswordGenerator .title{
    color: #FFF;
}
#randomPasswordGeneratorContainer{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#length-opt{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
#length-opt #listVisibility-for-length{
    position: relative;
    height: max-content;
    text-align: top;
    border: none;
    position: relative;
    cursor: pointer;
    transform: rotate(180deg);
    font-size: 32px;
    margin-top: 0;
    transition: 0.4s ease-in-out;
}
#length-opt #listVisibility-for-length.spin{
    transform: rotate(0deg);
}
#length-opt p{
    position: relative;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
    padding-bottom: 15px;
}
#length-opt ul{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.password-length{
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 2px 4px;
    backdrop-filter: blur(2px);
    border: 2px solid #00F2FF;
    border-radius: 8px;
    border-collapse: collapse;
    cursor: pointer;
    width: 150px;
}
.password-length.selected{
    border: 2px solid #939393;
}
#chars-8, #chars-12, #chars-15{
    display: none;
    max-height: 0;      
    overflow: hidden;
}
#chars-8.showList, #chars-12.showList, #chars-15.showList{
    display: list-item;
    animation: smooth_slide_down 0.3s linear forwards;
}
@keyframes smooth_slide_down{
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 100px;
        opacity: 1;
    }
}
#generated-password-tag{
    position: relative;
    margin: 10px 0;
    font-size: 1rem;
    font-family: sans-serif;
}
#generated-password{
    position: relative;
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}
#generate-password-btn{
    position: relative;
    border: 1px solid #00F2FF;
    outline: none;
    padding: 3px 4px;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    cursor: pointer;
}


/*Guessing game*/
#guessingGame{
    background-image: radial-gradient(rgb(0,0,0,0.5)),url("../image/guessing_game_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 18px;
    width: auto;
}
#guessingGame .title{
    color: #FFF;
}
#guessingGameContainer{
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#guessingGameContainer p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: sans-serif;
}
#randomNumbersInput{
    border: 2px solid #F8FAFC;
    margin-bottom: 15px;
    outline: none;
    text-align: center;
    padding: 2px 0;
}
#randomNumbersSubmit, #randomNumbersReset{
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(10px);
    width: max-content;
    padding: 4px 5px;
}
#randomNumbersSubmit:active, #randomNumbersReset:active{
    color: rgb(45, 44, 43);
}

/*rock paper scissor*/
#rockPaperScissor{
    background-image: radial-gradient(rgb(0,0,0,0.5)),url("../image/rock_paper_scissor_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 18px;
    width: auto;
}
#rockPaperScissor .title{
    color: #FFF;
}
#rockPaperScissorContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#firstPlayer, #secondPlayer{
    display: flex;
    flex-direction: row;
    gap: 26px;
}
#btnContainer-RPS{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.btn-RPS{
    padding: 10px 30px;
    border: 2px solid;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
}
.btn-RPS:hover{
    cursor: pointer;
}
#startbtn-RPS{
    background-color: rgb(33, 135, 33);
}

#startbtn-RPS:active{
    background-color: rgba(33, 135, 33, 0.8);
}
#againbtn-RPS{
    background-color: rgb(218, 23, 23);
}
#againbtn-RPS:active{
    background-color: rgba(218, 23, 23, 0.8);
}

@media (hover: hover) {
    #startbtn-RPS:hover{
        background-color: rgba(33, 135, 33, 0.6);
    }
    #againbtn-RPS:hover{
        background-color: rgba(218, 23, 23, 0.6);
    }
    .icon2:hover{
        cursor: pointer;
        border:3px solid rgb(222, 46, 84)
    }
}
.icon1, .icon2{
    width: 70px;
    height: 70px;
    border: 3px solid;
    border-radius: 8px;
}
.icon1.clicked,.icon2.clicked{
    border: 3px solid rgb(33, 135, 33);
}
.vs{
    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 0;
}
#rock1, #rock2{
    background-image: url("../image/Rock.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#paper1, #paper2{
    background-image: url("../image/paper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#scissor1, #scissor2{
    background-image: url("../image/Scissor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@media (min-width: 600px) and (max-width: 900px) {
    /*General styling for the element*/
    input, button{
        font-family: sans-serif;
        font-size: clamp(2dvw, 1rem, 4dvw);
        color: #F8FAFC;
        background-color: transparent;
        border: 2px solid #0F172A;
        border-radius: 6px;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    input::placeholder{
        font-size: clamp(2dvw, 1rem, 4dvw);
        font-family: sans-serif;
        color: #F8FAFC;
    }
    .title{
        font-size: clamp(2dvw, 1.3rem, 2.5dvw);
        font-family: sans-serif;
        font-weight: bold;
    }
    p{
        font-size: clamp(3dvw, 1rem, 4dvw);
        font-family: sans-serif;
        font-weight: normal;
    }

    #weatherDisplay{
        padding: 23px 30px ;
    }
    #weatherForm input{
        padding: 4px 3px;
        outline: none;
    }
    #weatherForm button{
        padding: 5px;
    }
    #weatherDataOutput p{
        font-size: clamp(2dvw, 1.1rem, 3dvw);
    }

    /*To do list project*/
    #todoList{
        padding: 20px;
    }
    #daySelector{
        position: absolute;
        z-index: 200;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin-top: 45px;
        margin-left: 15px;
        gap: 0px;
        height: max-content;
    }
    #daySelectorList{
        position: relative;
        list-style: none;
    }
    #daySelectorList #monday-fake{
        height:camp(25px, 5dvh, 10dvh);
    }
    #daySelectorList .days{
        min-width: 100px;
        height:camp(5dvh, 25px, 10dvh);
        font-size: clamp(2dvw, 0.9rem, 3dvw);
        font-weight: 600;
        text-align: center;
    }
    #dayselectorDropper{
        margin-top: -4px;
    }
    #daylist{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    #taskInput-container{
        position: relative;
        width:clamp(100px, 240px, 60dvw);

        input{
            width:80%;
            padding: 2px 3px;
            font-size: var(--input-placeholder-btn-li-font-size-res);

            &::placeholder{
                color: rgba(0, 0, 0, 0.4);
                font-size: var(--input-placeholder-btn-li-font-size-res);
            }
        };
        button{
            width: 20%;
            padding: 2px 3px;
            font-family: sans-serif;
            color: #161717;
            font-size: 1rem;
            cursor: pointer;
            backdrop-filter: blur(2px);
            background-color: rgba(255, 255, 255, 0.2);

            &:active{
                color: rgba(22, 23, 23, 0.5);
            }
        }
    }
    #eachday-list .day-list{
        position: relative;
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }
    .tasks{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        gap: 0px;
        border: 1px solid #0F172A;
        border-radius: 8px;
        padding: 3px 4px;
        min-width: 0;
        width:clamp(100px, 240px, 60dvw);
        justify-content: space-between;
    }
    .delete-btn{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 3px 4px;
    }

    /*Digital Clock project*/
    #digitalClock{
        padding: 20px;
    }
    #dateDisplay{
        font-size: clamp(4dvw, 1.5rem, 10dvw);
    }
    #clockDisplay{
        font-size: clamp(4dvw, 1.5rem, 10dvw);
    }

    /* Digital timer project */

    #timer{
        padding: 20px;
    }
    #timerDisplayer{
        font-size: clamp(4dvw, 1.5rem, 10dvw);
    }
    #btnContainer{
        margin-top: 2rem;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
    }
    #btnContainer .btn{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 6px 10px;
        border-radius: 8px;
    }

    /* Unit converter project*/

    #unitConverter{
        padding: 20px;
    }
    #unitContainer{
        gap: 10px;
        max-height: 100px;
    }
    #unitContainer p{
        font-size:clamp(2dvw, 1.1rem, 3dvw);
    }
    #unitContainer li{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 3px 5px;
        border-radius: 6px;
    }
    #unitContainer #listVisibility{
        font-size: clamp(3dvw, 1.5rem, 4dvw);
    }


    #converting{
        position: relative;
        margin-top: 10px;
        width: 100%;
    }
    #converting ul{
        width: 80%;
    }
    #converting p{
        padding: 28px 5px;
        font-size: clamp(2dvw, 1rem, 4dvw);
    }

    #weightUnit ul, #temperatureUnit ul, #speedUnit ul{
        padding: 5px 0px;
        
    }
    #weightUnit li, #temperatureUnit li, #speedUnit li{
        border: 1px solid #00F2FF;
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 2px 1px;
        margin-bottom: 3px;
        min-width: 0;
        width: clamp(20dvw, 100px, 27dvw);
    }


    #inputAndResult{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        text-align: start;

    }
    #inputAndResult form{
        position: relative;
        display: flex;
        gap: 10px;
        width:clamp(100px, 240px, 60dvw);
    }
    #inputAndResult #unitInput{
        width: 80%;
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 1px 2px;
    }
    #inputAndResult #submitConvertionForm{
        width: 20%;
        padding: 5px 2px;
        cursor: pointer;
    }
    #inputAndResult #convertionResult{
        margin: 6px 0;
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }
    
    /*Calculator project*/
    #calculator{
        padding: 20px;
    }
    #btnContainer-cal{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 20px;
        row-gap: 12px;
        column-gap: max(5px,3dvw);
    }
    .cal-btn{
        width: clamp(5dvw, 45px,13dvw);
        height: 25px;
    }
    #calculatorInput{
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }

    /*password generator*/

    #randomPasswordGenerator{
        padding: 20px;
    }
    #randomPasswordGeneratorContainer{
        margin-top: 10px;
    }
    #length-opt{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #length-opt #listVisibility-for-length{
        font-size: clamp(4dvw, 1.2rem, 5dvw);
    }
    #length-opt p{
        font-size: var( --input-placeholder-btn-li-font-size-res);
        padding-bottom: 15px;
    }
    #length-opt ul{
        margin-bottom: 10px;
    }
    .password-length{
        font-size:var( --input-placeholder-btn-li-font-size-res);
        width: 150px;
    }
    #generated-password-tag{
        margin: 0;
        font-size:clamp(2dvw, 1.1rem, 3dvw);
    }
    #generated-password{
        font-size:clamp(2dvw, 1.1rem, 3dvw);
        margin-bottom: 15px;
        width: 100%;
    }
    #generate-password-btn{
        font-size:var( --input-placeholder-btn-li-font-size-res);
        padding: 4px 6px;
        border-radius: 6px;
    }

    /*Guessing game*/
    #guessingGame{
        padding:20px;
    }
    #guessingGameContainer{
        margin-top: 15px;
    }
    #guessingGameContainer p{
        font-size:clamp(2dvw, 1.1rem, 3dvw);
    }
    #randomNumbersInput{
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }
    #randomNumbersSubmit, #randomNumbersReset{
        padding: 4px 6px;
    }

    /*rock paper scissor*/
    #rockPaperScissor{
        padding: 20px;
    }
    #rockPaperScissorContainer{
        margin-top: 20px;
    }
    #firstPlayer, #secondPlayer{
        gap: 10px;
    }
    #btnContainer-RPS{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .btn-RPS{
        padding: 5px 7px;
        border-radius: 8px;
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }

    #startbtn-RPS{
        background-color: rgb(33, 135, 33);
    }#startbtn-RPS:hover{
        background-color: rgba(33, 135, 33, 0.6);
    }
    #startbtn-RPS:active{
        background-color: rgba(33, 135, 33, 0.8);
    }
    #againbtn-RPS{
        background-color: rgb(218, 23, 23);
    }
    #againbtn-RPS:hover{
        background-color: rgba(218, 23, 23, 0.6);
    }
    #againbtn-RPS:active{
        background-color: rgba(218, 23, 23, 0.8);
    }
    .icon1, .icon2{
        width: clamp(10dvw, 3rem, 10dvw);
        height: clamp(10dvw, 3rem, 10dvw);
    }
    .vs{
        font-size: var(--p-font-size-res);
    }
    
}


@media (max-width: 600px) {
    /*General styling for the element*/
    input, button{
        font-family: sans-serif;
        font-size: var(--input-placeholder-btn-li-font-size-res);
        color: #F8FAFC;
        background-color: transparent;
        border: 2px solid #0F172A;
        border-radius: 6px;
        -webkit-tap-highlight-color: transparent;
        outline: none;
    }
    input::placeholder{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        font-family: sans-serif;
        color: #F8FAFC;
    }
    .title{
        font-size: var(--section-title-font-size-res);
        font-family: sans-serif;
        font-weight: bold;
    }
    p{
        font-size: clamp(3dvw, 1rem, 4dvw);
        font-family: sans-serif;
        font-weight: normal;
    }

    #weatherDisplay{
        padding: 30px ;
    }
    #weatherForm input{
        padding: 4px 3px;
        outline: none;
    }
    #weatherForm button{
        padding: 5px;
    }

    /*To do list project*/
    #todoList{
        padding: 20px;
    }
    #daySelector{
        position: absolute;
        z-index: 200;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin-top: 45px;
        margin-left: 15px;
        gap: 0px;
        height: max-content;
    }
    #daySelectorList{
        position: relative;
        list-style: none;
    }
    #daySelectorList #monday-fake{
        height:camp(25px, 5dvh, 10dvh);
    }
    #daySelectorList .days{
        min-width: 100px;
        height:camp(5dvh, 25px, 10dvh);
        font-size: clamp(3dvw, 0.9rem, 4dvw);
        font-weight: 600;
        text-align: center;
    }
    #dayselectorDropper{
        margin-top: -4px;
    }
    #daylist{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    #taskInput-container{
        position: relative;
        width:clamp(100px, 240px, 60dvw);

        input{
            width:80%;
            padding: 2px 3px;
            font-size: var(--input-placeholder-btn-li-font-size-res);

            &::placeholder{
                color: rgba(0, 0, 0, 0.4);
                font-size: var(--input-placeholder-btn-li-font-size-res);
            }
        };
        button{
            width: 20%;
            padding: 2px 3px;
            font-family: sans-serif;
            color: #161717;
            font-size: 1rem;
            cursor: pointer;
            backdrop-filter: blur(2px);
            background-color: rgba(255, 255, 255, 0.2);

            &:active{
                color: rgba(22, 23, 23, 0.5);
            }
        }
    }
    #eachday-list .day-list{
        position: relative;
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }
    .tasks{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        gap: 0px;
        border: 1px solid #0F172A;
        border-radius: 8px;
        padding: 3px 4px;
        min-width: 0;
        width:clamp(100px, 240px, 60dvw);
        justify-content: space-between;
    }
    .delete-btn{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 3px 4px;
    }

    /*Digital Clock project*/
    #digitalClock{
        padding: 20px;
    }
    #dateDisplay{
        font-size: var(--date-time-font-size-res);
    }
    #clockDisplay{
        font-size: var(--date-time-font-size-res);
    }

    /* Digital timer project */

    #timer{
        padding: 20px;
    }
    #timerDisplayer{
        font-size: var(--date-time-font-size-res);
    }
    #btnContainer{
        margin-top: 2rem;
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
    }
    #btnContainer .btn{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 6px 10px;
        border-radius: 8px;
    }

    /* Unit converter project*/

    #unitConverter{
        padding: 20px;
    }
    #unitContainer{
        gap: 10px;
        max-height: 100px;
    }
    #unitContainer p{
        font-size: var(--p-font-size-res);
    }
    #unitContainer li{
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 3px 5px;
        border-radius: 6px;
    }
    #unitContainer #listVisibility{
        font-size: clamp(5dvw, 1.2rem, 6dvw);
    }


    #converting{
        position: relative;
        margin-top: 10px;
        width: 100%;
    }
    #converting ul{
        width: 80%;
    }
    #converting p{
        padding: 28px 5px;
        font-size: clamp(2dvw, 0.8rem, 4dvw);
    }

    #weightUnit ul, #temperatureUnit ul, #speedUnit ul{
        padding: 5px 0px;
        
    }
    #weightUnit li, #temperatureUnit li, #speedUnit li{
        border: 1px solid #00F2FF;
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 2px 1px;
        margin-bottom: 3px;
        min-width: 0;
        width: clamp(20dvw, 100px, 27dvw);
    }


    #inputAndResult{
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 10px 0px;
        text-align: start;

    }
    #inputAndResult form{
        position: relative;
        display: flex;
        gap: 10px;
        width:clamp(100px, 240px, 60dvw);
    }
    #inputAndResult #unitInput{
        width: 80%;
        font-size: var(--input-placeholder-btn-li-font-size-res);
        padding: 1px 2px;
    }
    #inputAndResult #submitConvertionForm{
        width: 20%;
        padding: 5px 2px;
        cursor: pointer;
    }
    #inputAndResult #convertionResult{
        margin: 6px 0;
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }
    
    /*Calculator project*/
    #calculator{
        padding: 20px;
    }
    #btnContainer-cal{
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        margin-top: 20px;
        row-gap: 12px;
        column-gap: max(5px,3dvw);
    }
    .cal-btn{
        width: clamp(5dvw, 45px,13dvw);
        height: 25px;
    }
    #calculatorInput{
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }

    /*password generator*/

    #randomPasswordGenerator{
        padding: 20px;
    }
    #randomPasswordGeneratorContainer{
        margin-top: 10px;
    }
    #length-opt{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    #length-opt #listVisibility-for-length{
        font-size: clamp(5dvw, 1.2rem, 6dvw);
    }
    #length-opt p{
        font-size: var( --input-placeholder-btn-li-font-size-res);
        padding-bottom: 15px;
    }
    #length-opt ul{
        margin-bottom: 10px;
    }
    .password-length{
        font-size:var( --input-placeholder-btn-li-font-size-res);
        width: 150px;
    }
    #generated-password-tag{
        margin: 10px 0;
        font-size:var(--p-font-size-res);
    }
    #generated-password{
        font-size: var(--section-title-font-size-res);
        margin-bottom: 15px;
        width: 100%;
    }
    #generate-password-btn{
        font-size:var( --input-placeholder-btn-li-font-size-res);
        padding: 4px 6px;
        border-radius: 6px;
    }

    /*Guessing game*/
    #guessingGame{
        padding:20px;
    }
    #guessingGameContainer{
        margin-top: 15px;
    }
    #guessingGameContainer p{
        font-size: var(--p-font-size-res);
    }
    #randomNumbersInput{
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }
    #randomNumbersSubmit, #randomNumbersReset{
        padding: 4px 6px;
    }

    /*rock paper scissor*/
    #rockPaperScissor{
        padding: 20px;
    }
    #rockPaperScissorContainer{
        margin-top: 20px;
    }
    #firstPlayer, #secondPlayer{
        gap: 10px;
    }
    #btnContainer-RPS{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .btn-RPS{
        padding: 5px 7px;
        border-radius: 8px;
        font-size: var(--input-placeholder-btn-li-font-size-res);
    }

    #startbtn-RPS{
        background-color: rgb(33, 135, 33);
    }#startbtn-RPS:hover{
        background-color: rgba(33, 135, 33, 0.6);
    }
    #startbtn-RPS:active{
        background-color: rgba(33, 135, 33, 0.8);
    }
    #againbtn-RPS{
        background-color: rgb(218, 23, 23);
    }
    #againbtn-RPS:hover{
        background-color: rgba(218, 23, 23, 0.6);
    }
    #againbtn-RPS:active{
        background-color: rgba(218, 23, 23, 0.8);
    }
    .icon1, .icon2{
        width: clamp(15dvw, 3rem, 15dvw);
        height: clamp(15dvw, 3rem, 10dvw);
    }
    .vs{
        font-size: var(--p-font-size-res);
    }
    
}