/*General styling for the element*/
input, button{
    font-family: sans-serif;
    font-size: 1rem;
    color: #F8FAFC;
    background-color: transparent;
    border: 2px solid #0F172A;
    border-radius: 6px;
}
input::placeholder{
    font-size: 1rem;
    font-family: sans-serif;
    color: #F8FAFC;
}

/*Specific styling for the element*/
#weatherDisplay{
    background: url("../image/weather_app_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}
#weatherForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#weatherForm label{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #F8FAFC;
    font-weight: bold;
    padding-bottom: 15px;
}
#weatherForm input{
    padding: 6px 5px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 6px;
}
#weatherForm button{
    padding: 3px 5px;
    color: #0F172A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    width: 100%;
}
#weatherDataOutput{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #0F172A;
    font-family: sans-serif;
    font-size: 1rem;
    row-gap: 20px;
    width: 100%;
}

/*To do list project*/

/*Digital Clock project*/
#digitalClock{
    background-image: url("../image/digital_clock_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}
#digitalClockContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}
#clockDisplay{
    margin-top: 6rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}