/*General styling for the element*/
input, button{
    font-family: sans-serif;
    font-size: 1rem;
    color: #F8FAFC;
    background-color: transparent;
    border: 2px solid #0F172A;
    border-radius: 6px;
}
input::placeholder{
    font-size: 1rem;
    font-family: sans-serif;
    color: #F8FAFC;
}

/*Specific styling for the element*/
#weatherDisplay{
    background: url("../image/weather_app_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}
#weatherForm{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#weatherForm label{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #F8FAFC;
    font-weight: bold;
    padding-bottom: 15px;
}
#weatherForm input{
    padding: 6px 5px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 6px;
}
#weatherForm button{
    padding: 3px 5px;
    color: #0F172A;
    border: none;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    width: 100%;
}
#weatherDataOutput{
    position: relative;
    display: flex;
    flex-direction: column;
    color: #0F172A;
    font-family: sans-serif;
    font-size: 1rem;
    row-gap: 20px;
    width: 100%;
}

/*To do list project*/

/*Digital Clock project*/
#digitalClock{
    background-image: url("../image/digital_clock_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
}
#digitalClockContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#digitalClockContainer #title{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}
#dateDisplay{
    margin-top: 3rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}
#clockDisplay{
    margin-top: 2rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #3D2B1F;
}

/* Digital timer project */

#timer{
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.5)),url("../image/timer_background_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}
#timerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#timerContainer #title{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #00F2FF;
}
#timerDisplayer{
    margin-top: 3rem;
    font-size: 2.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
}
#btnContainer{
    margin-top: 2rem;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
#btnContainer .btn{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 20px;
    border: 2px solid #00F2FF;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
}
#startBtn{
    background-color: #28A745;
}
#resetBtn{
    background-color: #6C757D;
}
#stopBtn{
    background-color: #FF3E3E;
}
#startBtn:hover{
    background-color: rgba(40, 167, 69, 0.8);
}
#resetBtn:hover{
    background-color: rgba(108, 117, 125, 0.8);
}
#stopBtn:hover{
    background-color: rgba(255, 62, 62, 0.8);
}
#startBtn:active{
    background-color: rgba(40, 167, 69, 0.6);
}
#resetBtn:active{
    background-color: rgba(108, 117, 125, 0.6);
}
#stopBtn:active{
    background-color: rgba(255, 62, 62, 0.6);
}


/* Unit converter project*/

#unitConverter{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url("../image/unitConverter_background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
}
#UnitConverterContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#UnitConverterContainer #title{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
}
#coverterContainer{
    position: relative;
    margin-top: 30px;
}
#choicesContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#unitContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 10px;
    max-height: 100px;
}
#unitContainer p{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;
}
#unitContainer ul{
    position: relative;
    list-style: none;
}
#unitContainer li{
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    padding: 2px 4px;
    backdrop-filter: blur(2px);
    border: 2px solid #00F2FF;
    border-radius: 8px;
    border-collapse: collapse;
    cursor: pointer;
}
#speed-opt, #weight-opt{
    display: none;
    max-height: 0;      
    overflow: hidden;
}
#speed-opt.showList, #weight-opt.showList{
    display: list-item;
    animation: smooth_slide_down 0.3s linear forwards;
}
@keyframes smooth_slide_down{
    from {
        max-height: 0;
    }
    to {
        max-height: 100px;
    }
}
#unitContainer #listVisibility{
    height: max-content;
    text-align: top;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    transition: 0.4s ease-in-out;
}
#unitContainer #listVisibility.spin{
    rotate: 180deg ;
}
#converting{
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#converting li{
    min-width: 100px;
}
#converting p{
    padding-top: 28px;
    font: 1.5rem sans-serif;
    font-weight: bolder;

}

#weightUnit.visable, #speedUnit.visable{
    display: flex;
}
#temperatureUnit{
    display: flex;
}
#weightUnit{
    display: none;
}
#speedUnit{
    display: none;
}
#temperatureUnit.invisible{
    display: none;
}
#weightUnit.visible, #speedUnit.visible{
    display: flex;
}
#weightUnit ul, #temperatureUnit ul, #speedUnit ul{
    list-style: none;
    padding: 5px 20px;
}
#weightUnit li, #temperatureUnit li, #speedUnit li{
    cursor: pointer;
    border: 1.5px solid #00F2FF;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    font-size: 1rem;
    font-family: sans-serif;
    text-align: center;
    padding: 2px 4px;
    margin-bottom: 3px;
}


#inputAndResult{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    text-align: start;

}
#inputAndResult form{
    position: relative;
    display: flex;
    gap: 10px;
}
#inputAndResult #unitInput{
    position: relative;
    font-size: 1rem;
    font-family: sans-serif;
    text-align: start; 
    outline: none;
    padding: 1px 2px;
    border: 1px solid #00F2FF;
}
#inputAndResult #submitConvertionForm{
    position: relative;
    border: none;
    color: #00F2FF;
    background-color: #585555;
    max-width: fit-content;
    padding: 5px 6px;
    cursor: pointer;
}
#inputAndResult #convertionResult{
    position: relative;
    margin: 15px 0;
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: bold;
}

/*Calculator project*/
#calculator{
    background-color: rgb(93, 92, 92);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    
}
#calculator #title{
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #FFF;

}
#calculatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#btnContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 20px;
}
.cal-btn{
    width: 60px;
    height: 30px;
    border-radius: 6px;
    border-style: none;
    text-align: center;
    color: rgb(255, 255, 255);

}
#calculatorInput{
    text-align: right;
    outline: none;
    border: none;
    font-size: 1.3rem;
    font-family:sans-serif;
    margin-top: 5px;
    height: 50px;
}
.number{
    background-color: rgb(59, 57, 56);
}
.number:hover{
    background-color: rgb(68, 66, 65);
}
.number:active{
    background-color: rgb(45, 44, 43);
}
.sign{
    background-color: rgb(50, 49, 48);
}
.sign:hover{
    background-color: rgb(45, 44, 43);
}
.sign:active{
    background-color: rgb(68, 66, 65);
}
.specialSign{
    background-color: rgb(50, 49, 48);
}
.specialSign:hover{
    background-color: rgb(45, 44, 43);
}
.specialSign:active{
    background-color: rgb(68, 66, 65);
}
#equalSign{
    background-color: rgb(76, 194, 255);
}
#equalSign:hover{
    background-color: rgb(102, 204, 255);
}
#equalSign:active{
    background-color: rgb(0, 153, 230);
}